body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #333333;
}

@media (max-width: 768px) {
  .section-heading {
    text-align: center !important;
  }
  .header {
    background-color: #3fadff;
  }
  .successor-mentor .card {
    width: 100% !important;
  }
  .successor-mentor .mentor-quotes {
    width: 100% !important;
    position: absolute;
    bottom: -20px !important;
    left: 0 !important;
    right: 0 !important;
    border-radius: 100px 100px 100px 100px !important;
  }
  .successor-mentor .card-mentor-1 {
    margin-left: 0 !important;
    margin-top: 0 !important;
  }
  .hero-title {
    text-align: center;
  }
  .hero-title .title {
    padding-right: 0 !important;
  }
  .statistic {
    margin-top: 80px;
  }
  .statistic .stat-count {
    color: #ff9977 !important;
  }
  .statistic p {
    color: white !important;
  }
  .section-partners,
  .section-qualification {
    margin-top: 20px !important;
  }
  .section-fitur {
    margin-top: -500px !important;
  }
  .section-apply {
    margin-top: -1100px !important;
  }
  .card-owner img {
    margin-top: 0 !important;
  }
  .img-adventage {
    margin-top: 0 !important;
    margin-left: 0 !important;
  }
}

.navbar {
  background-color: #3fadff;
}

.navbar .navbar-brand {
  margin-right: 60px;
}

.navbar .navbar-brand .img-fluid {
  height: 40px;
}

.navbar .navbar-nav .search {
  background-color: #3fadff;
  width: 170px;
  border-width: 1px 1px 1px 1px;
  border-color: white;
  border-style: solid;
  border-radius: 100px 100px 100px 100px;
  height: 100%;
  background-image: url("../images/icons/Vector-search.png");
  background-size: auto;
  background-repeat: no-repeat;
  background-position-x: 15px;
  background-position-y: calc(50% + 2px);
  text-indent: 20px;
}

.navbar .navbar-nav .search::-webkit-input-placeholder {
  color: white;
  opacity: 1;
}

.navbar .navbar-nav .search:-ms-input-placeholder {
  color: white;
  opacity: 1;
}

.navbar .navbar-nav .search::-ms-input-placeholder {
  color: white;
  opacity: 1;
}

.navbar .navbar-nav .search::placeholder {
  color: white;
  opacity: 1;
}

.navbar .navbar-nav .search:focus {
  background-image: none;
  text-indent: 0px;
}

.navbar .navbar-nav .nav-item .btn-sign-in {
  border-width: 1px 1px 1px 1px;
  border-color: white;
  border-style: solid;
  border-radius: 100px 100px 100px 100px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.navbar .navbar-nav .nav-item .btn-sign-in:hover {
  background-color: #ff9977;
}

.header {
  background-image: url("../images/bg/big-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  min-height: 1100px;
  margin-top: -80px;
}

.header .hero {
  margin-top: 75px;
}

.header .hero-title .title {
  font-weight: 500;
  font-size: 36px;
  line-height: 46px;
  color: white;
  margin-top: 40px;
  padding-right: 60px;
}

.header .hero-title .subtitle {
  font-size: 18px;
  line-height: 28px;
  color: white;
  margin-top: 24px;
}

.header .hero-title .btn-signup {
  background-color: #f6764d;
  font-weight: 500;
  font-size: 18px;
  padding: 12px 32px;
  margin-top: 10px;
}

.header .hero-title .btn-signup:hover {
  background-color: #ff9977;
}

.header .successor-mentor {
  background-image: url("../images/utils/stars.png");
  background-repeat: no-repeat;
  background-position: 0 10px;
}

.header .successor-mentor .card-mentor-1 {
  padding: 5px;
  border-radius: 100px 35px 10px 10px;
  width: 270px;
  height: 414px;
  border: 6px solid white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-image: url("../images/img/profil-3.png");
  background-size: cover;
  margin-top: 100px;
  margin-left: 40px;
}

.header .successor-mentor .card-mentor-2 {
  padding: 5px;
  border-radius: 100px 35px 10px 50px;
  width: 280px;
  height: 270px;
  border: 6px solid white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-image: url("../images/img/profil-1.png");
  background-size: cover;
  margin-top: 30px;
}

.header .successor-mentor .card-mentor-3 {
  padding: 5px;
  border-radius: 35px 100px 50px 10px;
  width: 280px;
  height: 300px;
  border: 6px solid white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-image: url("../images/img/profil-2.png");
  background-size: cover;
  margin-top: 40px;
}

.header .successor-mentor .card .mentor-quotes {
  background-color: white;
  border-radius: 35px 5px 5px 5px;
  overflow: hidden;
  padding: 15px;
}

.header .successor-mentor .card .mentor-position-1,
.header .successor-mentor .card .mentor-position-3 {
  width: 80%;
  position: absolute;
  bottom: -20px;
  left: -40px;
}

.header .successor-mentor .card .mentor-position-2 {
  width: 80%;
  position: absolute;
  bottom: -30px;
  right: -40px;
}

.header .successor-mentor .mentor-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #333333;
  text-align: center;
}

.header .successor-mentor .mentor-job {
  font-weight: 300;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  margin-top: -10px;
}

.header .successor-mentor .mentor-desc {
  font-style: italic;
  font-weight: 500;
  font-size: 10px;
  line-height: 14px;
  text-align: center;
  margin-top: -10px;
  margin-bottom: 0;
}

.header .statistic .stat-count {
  font-weight: 600;
  font-size: 28px;
  color: #f6764d;
}

.header .statistic p {
  font-weight: 300;
  font-size: 13px;
  line-height: 20px;
  color: #333333;
}

.header .statistic .devider-stat {
  border-left: 1px solid #3fadff;
}

.section-heading h2 {
  font-weight: 600;
  font-size: 40px;
  line-height: 60px;
  color: #00213f;
}

.section-partners {
  margin-top: -160px;
  margin-bottom: 30px;
}

.section-class-content {
  background-image: url("../images/bg/bg2.svg");
  background-repeat: no-repeat;
  min-height: 1100px;
  background-position: 50% -30px;
  padding-top: 100px;
}

.section-class-content .class-link {
  display: inline-block;
  width: 100%;
  height: 150px;
  background-color: #fff;
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-radius: 5px 15px 5px 5px;
  border: 1px solid #ebebeb;
}

.section-class-content .class-link svg {
  margin-top: 30px;
  margin-bottom: 10px;
}

.section-class-content .class-link .class-title {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #333333;
}

.section-class-content .class-link:hover {
  background-color: #3fadff;
  -webkit-box-shadow: 4px 10px 26px rgba(0, 0, 0, 0.15);
          box-shadow: 4px 10px 26px rgba(0, 0, 0, 0.15);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border: none;
}

.section-class-content .class-link:hover p {
  color: white;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.section-class-content .class-link:hover svg {
  fill: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.section-class-content .container {
  position: relative;
}

.section-class-content .prev,
.section-class-content .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  color: white;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  border-radius: 50%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: #3fadff;
  border: 2px solid #3fadff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.section-class-content .next {
  right: -5px;
  border-radius: 50%;
}

.section-class-content .next:hover {
  background-color: white;
  color: #f6764d;
  border: 2px solid #f6764d;
}

.section-class-content .prev {
  left: -5px;
}

.section-class-content .prev:hover {
  background-color: white;
  color: #f6764d;
  border: 2px solid #f6764d;
}

.section-class-content .mentor-class .section-title h1 {
  font-weight: 600;
  font-size: 40px;
  line-height: 60px;
  text-align: center;
  color: #00213f;
}

.section-qualification {
  margin-top: -700px;
}

.section-qualification-content .bg-stars-right {
  background-image: url("../images/bg/bg-start-right.png");
  background-repeat: no-repeat;
  background-position: top right;
}

.section-qualification-content .card-qualification {
  width: 100%;
  height: 200px;
  background-color: #fff;
  background-image: url("../images/bg/Mask Group.png");
  background-repeat: no-repeat;
  background-position: right top;
  padding: 30px;
  margin-top: 30px;
}

.section-qualification-content .card-qualification .icon-check-qualification .fa-check {
  border: 3px solid #00ac47;
  color: #00ac47;
  padding: 6px;
  border-radius: 50%;
}

.section-qualification-content .card-qualification p {
  margin-top: 30px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.section-qualification-content .top-right {
  border-radius: 20px 50px 20px 20px;
}

.section-qualification-content .bottom-left {
  border-radius: 20px 20px 20px 50px;
}

.section-qualification-content .bottom-right {
  border-radius: 20px 20px 50px 20px;
}

.section-qualification-content .top-left {
  border-radius: 50px 20px 20px 20px;
}

.section-qualification-content .card-owner {
  background-color: transparent;
  border: none;
  background-image: url("../images/bg/bg-owner-group.png");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
  width: 60%;
  height: 480px;
  margin: auto;
}

.section-qualification-content .card-owner img {
  width: 80%;
  margin: auto;
  margin-top: -60px;
  margin-left: 40px;
}

.section-qualification-content .card-owner .card-owner-quotes {
  width: 100%;
  position: absolute;
  bottom: 25px;
  right: -70px;
  background-color: white;
  border-radius: 10px 10px 10px 10px;
  padding: 20px 30px;
}

.section-qualification-content .card-owner .card-owner-quotes .bag {
  position: absolute;
  top: -24px;
  right: -24px;
  border-radius: 50%;
  -webkit-box-shadow: -4px 6px 15px rgba(0, 0, 0, 0.12);
          box-shadow: -4px 6px 15px rgba(0, 0, 0, 0.12);
  color: #0092ff;
  padding: 16px;
  font-size: 2em;
  background-color: white;
}

.section-qualification-content .card-owner .card-owner-quotes .mentor-name {
  font-weight: 500;
  font-size: 30px;
  line-height: 45px;
  color: #333333;
  text-align: left;
}

.section-qualification-content .card-owner .card-owner-quotes .mentor-job {
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  margin-top: -10px;
  text-align: left;
}

.section-qualification-content .card-owner .card-owner-quotes .mentor-desc {
  font-style: italic;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  text-align: left;
  margin-top: -10px;
  margin-bottom: 0;
}

.section-qualification-content .card-owner .card-owner-quotes .mentor-desc span {
  font-size: 30px;
  line-height: 45px;
}

.section-qualification-content .btn-take-action {
  background-color: #f6764d;
  font-weight: 500;
  font-size: 18px;
  padding: 12px 32px;
  margin-top: 30px;
}

.section-qualification-content .btn-take-action:hover {
  background-color: #ff9977;
}

.section-qualification-content .btn-take-action .fa-plus {
  border-radius: 50%;
  border: 1px solid white;
  padding: 3px;
  font-size: 10px;
  margin-left: 5px;
}

.section-adventage {
  margin-top: 150px;
}

.section-adventage-content {
  background-image: url("../images/bg/bg3.svg");
  background-position: center;
  background-repeat: no-repeat;
  min-height: 1500px;
}

.section-adventage-content .list-group .list-group-item {
  border-radius: 5px;
  border: 0;
  -webkit-box-shadow: 0px 0px 21px 12px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 21px 12px rgba(0, 0, 0, 0.1);
  margin: 10px 0;
  padding: 24px;
}

.section-adventage-content .list-group .list-group-item .icon svg {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  width: 36px;
  height: 36px;
  fill: #3fadff;
}

.section-adventage-content .list-group .list-group-item .title-adventage {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.section-adventage-content .list-group .list-group-item .desc-adventage {
  font-size: 12px;
  line-height: 18px;
}

.section-adventage-content .list-group .active {
  background-color: #3fadff;
}

.section-adventage-content .list-group .active .icon svg {
  fill: white;
}

.section-adventage-content .adventage-profile {
  background-image: url("../images/utils/bottom-left.png");
  background-position: bottom left;
  background-repeat: no-repeat;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.section-adventage-content .adventage-profile .img-adventage {
  margin-top: 80px;
  margin-left: 60px;
}

.section-fitur {
  margin-top: -860px;
}

.section-fitur .row {
  margin-bottom: 80px;
}

.section-fitur .list-group .list-group-item {
  border: 0;
  background-color: transparent;
  padding: 6px 0;
}

.section-fitur .list-group .list-group-item .fa-check {
  color: #00ac47;
  border: 2px solid #00ac47;
  padding: 3px;
  border-radius: 50%;
  margin-right: 10px;
}

.section-fitur-2-content {
  background-image: url("../images/bg/bg6.svg");
  background-repeat: no-repeat;
  background-position: center;
  min-height: 1400px;
}

.section-apply {
  margin-top: -800px;
}

.section-apply-content {
  padding-top: 40px;
}

.section-apply-content .apply-link {
  display: inline-block;
  width: 100%;
  height: 240px;
  background-color: #fff;
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-shadow: 8px 11px 32px rgba(0, 0, 0, 0.15);
          box-shadow: 8px 11px 32px rgba(0, 0, 0, 0.15);
  border-radius: 10px 10px 50px 10px;
  padding: 18px 24px;
  overflow: hidden;
}

.section-apply-content .apply-link h3 {
  font-weight: 600;
  font-size: 28px;
  line-height: 45px;
  margin-bottom: 10px;
  color: #333333;
}

.section-apply-content .apply-link h5 {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #333333;
}

.section-apply-content .apply-link .apply-title {
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  color: #333333;
}

.section-apply-content .active {
  background-color: #3fadff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.section-apply-content .active h3,
.section-apply-content .active h5,
.section-apply-content .active .apply-title {
  color: white;
}

.section-member {
  margin-top: 100px;
}

.section-member-content {
  padding-top: 40px;
  background-image: url("../images/bg/bg4.svg");
  background-repeat: no-repeat;
  background-position: top center;
  min-height: 1100px;
}

.section-member-content .item-testimoni {
  margin-top: 100px;
}

.section-member-content .member-link {
  display: inline-block;
  width: 100%;
  height: 320px;
  background-color: #fff;
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-shadow: 8px 11px 32px rgba(0, 0, 0, 0.3);
          box-shadow: 8px 11px 32px rgba(0, 0, 0, 0.3);
  border-radius: 10px 10px 50px 10px;
  padding: 24px 28px;
  overflow: hidden;
}

.section-member-content .member-link .media img {
  position: absolute;
  top: -70px;
  border: 3px solid white;
  border-radius: 50%;
  width: 140px;
}

.section-member-content .member-link .media .media-body {
  margin-left: 150px;
}

.section-member-content .member-link .media .media-body h5 {
  font-weight: 500;
  font-size: 24px;
  margin-bottom: 0;
  color: #333333;
}

.section-member-content .member-link .media .media-body .job {
  font-weight: 500;
  font-size: 12px;
  color: #333333;
}

.section-member-content .member-link .member-testimoni {
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  color: #333333;
}

.section-member-content .active {
  background-color: #3fadff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.section-member-content .active h5,
.section-member-content .active .job,
.section-member-content .active .member-testimoni {
  color: white;
}

.section-faq-content .accordion .card {
  background: #ffffff;
  border: 1px solid #e1e1e1;
  border-radius: 10px;
  margin: 20px 100px;
}

.section-faq-content .accordion .card .card-header {
  background: #ffffff;
  border: none;
}

.section-faq-content .accordion .card .card-header i {
  color: #f6764d;
  border: 2px solid #f6764d;
  padding: 2px;
  border-radius: 50%;
}

.section-faq-content .accordion .card .card-header button {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}

.section-faq-content .accordion .card .card-body {
  border-left: 3px solid #e1e1e1;
  margin: 10px 35px;
  padding-top: 0;
  padding-bottom: 0;
}
/*# sourceMappingURL=style.css.map */