$primary: #f6764d;
$primary-hover: #ff9977;
$background: #3fadff;

body {
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	line-height: 24px;
	color: #333333;
}

// mobile

@media (max-width: 768px) {
	.section-heading {
		text-align: center !important;
	}

	.header {
		background-color: $background;
	}

	.successor-mentor {
		.card {
			width: 100% !important;
		}

		.mentor-quotes {
			width: 100% !important;
			position: absolute;
			bottom: -20px !important;
			left: 0 !important;
			right: 0 !important;
			border-radius: 100px 100px 100px 100px !important;
		}

		.card-mentor-1 {
			margin-left: 0 !important;
			margin-top: 0 !important;
		}
	}

	.hero-title {
		text-align: center;

		.title {
			padding-right: 0 !important;
		}
	}

	.statistic {
		margin-top: 80px;

		.stat-count {
			color: $primary-hover !important;
		}

		p {
			color: white !important;
		}
	}

	.section-partners,
	.section-qualification {
		margin-top: 20px !important;
	}

	.section-fitur {
		margin-top: -500px !important;
	}

	.section-apply {
		margin-top: -1100px !important;
	}

	.card-owner {
		img {
			margin-top: 0 !important;
		}
	}

	.img-adventage {
		margin-top: 0 !important;
		margin-left: 0 !important;
	}
}

// navbar
.navbar {
	// padding-top: 20px;
	// padding-left: 0;
	background-color: $background;

	.navbar-brand {
		margin-right: 60px;

		.img-fluid {
			height: 40px;
		}
	}

	.navbar-nav {
		.search {
			background-color: $background;
			width: 170px;
			border-width: 1px 1px 1px 1px;
			border-color: white;
			border-style: solid;
			border-radius: 100px 100px 100px 100px;
			height: 100%;
			background-image: url('../images/icons/Vector-search.png');
			background-size: auto;
			background-repeat: no-repeat;
			background-position-x: 15px;
			background-position-y: calc(50% + 2px);
			text-indent: 20px;

			&::placeholder {
				color: white;
				opacity: 1;
			}

			&:focus {
				background-image: none;
				text-indent: 0px;
			}
		}

		.nav-item {
			.btn-sign-in {
				border-width: 1px 1px 1px 1px;
				border-color: white;
				border-style: solid;
				border-radius: 100px 100px 100px 100px;
				transition: 0.3s;

				&:hover {
					background-color: $primary-hover;
				}
			}
		}
	}
}

// header

.header {
	background-image: url('../images/bg/big-bg.png');
	background-repeat: no-repeat;
	// background-position: 50% 100px;
	background-position: center;
	min-height: 1100px;
	margin-top: -80px;
	// background-color: $background;

	.hero {
		margin-top: 75px;
	}

	.hero-title {
		.title {
			font-weight: 500;
			font-size: 36px;
			line-height: 46px;
			color: white;
			margin-top: 40px;
			padding-right: 60px;
		}

		.subtitle {
			font-size: 18px;
			line-height: 28px;
			color: white;
			margin-top: 24px;
		}

		.btn-signup {
			background-color: $primary;
			font-weight: 500;
			font-size: 18px;
			padding: 12px 32px;
			margin-top: 10px;

			&:hover {
				background-color: $primary-hover;
			}
		}
	}

	.successor-mentor {
		background-image: url('../images/utils/stars.png');
		background-repeat: no-repeat;
		background-position: 0 10px;

		.card-mentor-1 {
			padding: 5px;
			border-radius: 100px 35px 10px 10px;
			width: 270px;
			height: 414px;
			border: 6px solid white;
			box-sizing: border-box;
			background-image: url('../images/img/profil-3.png');
			background-size: cover;
			margin-top: 100px;
			margin-left: 40px;
		}

		.card-mentor-2 {
			padding: 5px;
			border-radius: 100px 35px 10px 50px;
			width: 280px;
			height: 270px;
			border: 6px solid white;
			box-sizing: border-box;
			background-image: url('../images/img/profil-1.png');
			background-size: cover;
			margin-top: 30px;
		}

		.card-mentor-3 {
			padding: 5px;
			border-radius: 35px 100px 50px 10px;
			width: 280px;
			height: 300px;
			border: 6px solid white;
			box-sizing: border-box;
			background-image: url('../images/img/profil-2.png');
			background-size: cover;
			margin-top: 40px;
		}

		.card {
			.mentor-quotes {
				background-color: white;
				border-radius: 35px 5px 5px 5px;
				overflow: hidden;
				padding: 15px;
			}

			.mentor-position-1,
			.mentor-position-3 {
				width: 80%;
				position: absolute;
				bottom: -20px;
				left: -40px;
			}

			.mentor-position-2 {
				width: 80%;
				position: absolute;
				bottom: -30px;
				right: -40px;
			}
		}

		.mentor-name {
			font-weight: 500;
			font-size: 16px;
			line-height: 24px;
			color: #333333;
			text-align: center;
		}

		.mentor-job {
			font-weight: 300;
			font-size: 12px;
			line-height: 18px;
			text-align: center;
			margin-top: -10px;
		}

		.mentor-desc {
			font-style: italic;
			font-weight: 500;
			font-size: 10px;
			line-height: 14px;
			text-align: center;
			margin-top: -10px;
			margin-bottom: 0;
		}
	}

	.statistic {
		.stat-count {
			font-weight: 600;
			font-size: 28px;
			color: $primary;
		}

		p {
			font-weight: 300;
			font-size: 13px;
			line-height: 20px;
			color: #333333;
		}

		.devider-stat {
			border-left: 1px solid $background;
		}
	}
}

// section heading
.section-heading {
	h2 {
		font-weight: 600;
		font-size: 40px;
		line-height: 60px;
		color: #00213f;
	}
}

// section partners

.section-partners {
	margin-top: -160px;
	margin-bottom: 30px;
}

// section class

.section-class-content {
	background-image: url('../images/bg/bg2.svg');
	background-repeat: no-repeat;
	min-height: 1100px;
	background-position: 50% -30px;
	padding-top: 100px;

	.class-link {
		display: inline-block;
		width: 100%;
		height: 150px;
		background-color: #fff;
		text-decoration: none;
		transition: 0.5s;
		border-radius: 5px 15px 5px 5px;
		border: 1px solid #ebebeb;

		svg {
			margin-top: 30px;
			margin-bottom: 10px;
		}

		.class-title {
			font-weight: 500;
			font-size: 14px;
			line-height: 20px;
			text-align: center;
			color: #333333;
		}

		&:hover {
			background-color: $background;
			box-shadow: 4px 10px 26px rgba(0, 0, 0, 0.15);
			transition: 0.5s;
			border: none;

			p {
				color: white;
				transition: 0.7s;
			}

			svg {
				fill: white;
				transition: 0.3s;
			}
		}
	}

	.container {
		position: relative;
	}

	.prev,
	.next {
		cursor: pointer;
		position: absolute;
		top: 50%;
		width: 35px;
		height: 35px;
		line-height: 35px;
		text-align: center;
		color: white;
		transition: 0.6s ease;
		border-radius: 50%;
		user-select: none;
		background-color: $background;
		border: 2px solid $background;
		box-sizing: border-box;
	}

	.next {
		right: -5px;
		border-radius: 50%;
		&:hover {
			background-color: white;
			color: $primary;
			border: 2px solid $primary;
		}
	}

	.prev {
		left: -5px;
		&:hover {
			background-color: white;
			color: $primary;
			border: 2px solid $primary;
		}
	}

	.mentor-class {
		.section-title h1 {
			font-weight: 600;
			font-size: 40px;
			line-height: 60px;
			text-align: center;
			color: #00213f;
		}
	}
}

// section qualification
.section-qualification {
	margin-top: -700px;
}
.section-qualification-content {
	.bg-stars-right {
		background-image: url('../images/bg/bg-start-right.png');
		background-repeat: no-repeat;
		background-position: top right;
	}

	.card-qualification {
		width: 100%;
		height: 200px;
		background-color: #fff;
		background-image: url('../images/bg/Mask\ Group.png');
		background-repeat: no-repeat;
		background-position: right top;
		padding: 30px;
		margin-top: 30px;

		.icon-check-qualification {
			.fa-check {
				border: 3px solid #00ac47;
				color: #00ac47;
				padding: 6px;
				border-radius: 50%;
			}
		}

		p {
			margin-top: 30px;
			font-weight: 500;
			font-size: 16px;
			line-height: 24px;
		}
	}

	.top-right {
		border-radius: 20px 50px 20px 20px;
	}

	.bottom-left {
		border-radius: 20px 20px 20px 50px;
	}

	.bottom-right {
		border-radius: 20px 20px 50px 20px;
	}
	.top-left {
		border-radius: 50px 20px 20px 20px;
	}

	.card-owner {
		background-color: transparent;
		border: none;
		background-image: url('../images/bg/bg-owner-group.png');
		background-repeat: no-repeat;
		background-position: bottom;
		background-size: contain;
		width: 60%;
		height: 480px;
		margin: auto;

		img {
			width: 80%;
			margin: auto;
			margin-top: -60px;
			margin-left: 40px;
		}

		.card-owner-quotes {
			width: 100%;
			position: absolute;
			bottom: 25px;
			right: -70px;
			background-color: white;
			border-radius: 10px 10px 10px 10px;
			// overflow: hidden;
			padding: 20px 30px;

			.bag {
				position: absolute;
				top: -24px;
				right: -24px;
				border-radius: 50%;
				box-shadow: -4px 6px 15px rgba(0, 0, 0, 0.12);
				color: #0092ff;
				padding: 16px;
				font-size: 2em;
				background-color: white;
			}

			.mentor-name {
				font-weight: 500;
				font-size: 30px;
				line-height: 45px;
				color: #333333;
				text-align: left;
			}

			.mentor-job {
				font-weight: 300;
				font-size: 16px;
				line-height: 24px;
				margin-top: -10px;
				text-align: left;
			}

			.mentor-desc {
				font-style: italic;
				font-weight: 600;
				font-size: 12px;
				line-height: 18px;
				text-align: left;
				margin-top: -10px;
				margin-bottom: 0;

				span {
					font-size: 30px;
					line-height: 45px;
				}
			}
		}
	}

	.btn-take-action {
		background-color: $primary;
		font-weight: 500;
		font-size: 18px;
		padding: 12px 32px;
		margin-top: 30px;

		&:hover {
			background-color: $primary-hover;
		}

		.fa-plus {
			border-radius: 50%;
			border: 1px solid white;
			padding: 3px;
			font-size: 10px;
			margin-left: 5px;
		}
	}
}

// section adventage
.section-adventage {
	margin-top: 150px;
}

.section-adventage-content {
	background-image: url('../images/bg/bg3.svg');
	background-position: center;
	background-repeat: no-repeat;
	min-height: 1500px;

	.list-group {
		.list-group-item {
			border-radius: 5px;
			border: 0;
			-webkit-box-shadow: 0px 0px 21px 12px rgba(0, 0, 0, 0.1);
			-moz-box-shadow: 0px 0px 21px 12px rgba(0, 0, 0, 0.1);
			box-shadow: 0px 0px 21px 12px rgba(0, 0, 0, 0.1);
			margin: 10px 0;
			padding: 24px;

			.icon {
				svg {
					position: absolute;
					top: 50%;
					-webkit-transform: translateY(-50%);
					-ms-transform: translateY(-50%);
					transform: translateY(-50%);
					left: 0;
					right: 0;
					margin: auto;
					text-align: center;
					width: 36px;
					height: 36px;
					fill: $background;
				}
			}

			.title-adventage {
				font-weight: 500;
				font-size: 16px;
				line-height: 20px;
			}

			.desc-adventage {
				font-size: 12px;
				line-height: 18px;
			}
		}

		.active {
			background-color: $background;

			.icon {
				svg {
					fill: white;
				}
			}
		}
	}

	.adventage-profile {
		background-image: url('../images/utils/bottom-left.png');
		background-position: bottom left;
		background-repeat: no-repeat;
		box-sizing: border-box;

		.img-adventage {
			margin-top: 80px;
			margin-left: 60px;
		}
	}
}

// section fitur

.section-fitur {
	margin-top: -860px;

	.row {
		margin-bottom: 80px;
	}

	.list-group {
		.list-group-item {
			border: 0;
			background-color: transparent;
			padding: 6px 0;

			.fa-check {
				color: #00ac47;
				border: 2px solid #00ac47;
				padding: 3px;
				border-radius: 50%;
				margin-right: 10px;
			}
		}
	}
}

.section-fitur-2-content {
	background-image: url('../images/bg/bg6.svg');
	background-repeat: no-repeat;
	background-position: center;
	min-height: 1400px;
}

// section apply
.section-apply {
	margin-top: -800px;
}

.section-apply-content {
	padding-top: 40px;

	.apply-link {
		display: inline-block;
		width: 100%;
		height: 240px;
		background-color: #fff;
		text-decoration: none;
		transition: 0.5s;
		box-shadow: 8px 11px 32px rgba(0, 0, 0, 0.15);
		border-radius: 10px 10px 50px 10px;
		padding: 18px 24px;
		overflow: hidden;

		h3 {
			font-weight: 600;
			font-size: 28px;
			line-height: 45px;
			margin-bottom: 10px;
			color: #333333;
		}

		h5 {
			font-weight: 500;
			font-size: 20px;
			line-height: 30px;
			color: #333333;
		}

		.apply-title {
			font-weight: 500;
			font-size: 12px;
			line-height: 20px;
			color: #333333;
		}
	}

	.active {
		background-color: $background;
		transition: 0.5s;

		h3,
		h5,
		.apply-title {
			color: white;
		}
	}
}

// section member
.section-member {
	margin-top: 100px;
}

.section-member-content {
	padding-top: 40px;
	background-image: url('../images/bg/bg4.svg');
	background-repeat: no-repeat;
	background-position: top center;
	min-height: 1100px;

	.item-testimoni {
		margin-top: 100px;
	}

	.member-link {
		display: inline-block;
		width: 100%;
		height: 320px;
		background-color: #fff;
		text-decoration: none;
		transition: 0.5s;
		box-shadow: 8px 11px 32px rgba(0, 0, 0, 0.3);
		border-radius: 10px 10px 50px 10px;
		padding: 24px 28px;
		overflow: hidden;

		.media {
			img {
				position: absolute;
				top: -70px;
				border: 3px solid white;
				border-radius: 50%;
				width: 140px;
			}

			.media-body {
				margin-left: 150px;

				h5 {
					font-weight: 500;
					font-size: 24px;
					margin-bottom: 0;
					color: #333333;
				}

				.job {
					font-weight: 500;
					font-size: 12px;
					color: #333333;
				}
			}
		}

		.member-testimoni {
			font-weight: 400;
			font-size: 24px;
			line-height: 36px;
			color: #333333;
		}
	}

	.active {
		background-color: $background;
		transition: 0.5s;

		h5,
		.job,
		.member-testimoni {
			color: white;
		}
	}
}

// section faq
.section-faq-content {
	.accordion {
		.card {
			background: #ffffff;
			border: 1px solid #e1e1e1;
			border-radius: 10px;
			margin: 20px 100px;

			.card-header {
				background: #ffffff;
				border: none;

				i {
					color: $primary;
					border: 2px solid $primary;
					padding: 2px;
					border-radius: 50%;
				}

				button {
					font-weight: 500;
					font-size: 20px;
					line-height: 30px;
				}
			}

			.card-body {
				border-left: 3px solid #e1e1e1;
				margin: 10px 35px;
				padding-top: 0;
				padding-bottom: 0;
			}
		}
	}
}
